pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

node_modules/
/resources/public/devcards/out/
/resources/public/devcards/main.js
figwheel*